@import url("https://fonts.googleapis.com/css?family=Nunito|Quicksand");
body {
  margin-top: 105px;
  background-color: #fff;
  color: #fff;
  font-family: "Nunito", sans-serif; }

.navbar {
  box-shadow: 2px 2px 5px #329216;
  opacity: 0.9;
  background-color: #fff; }
  .navbar .nav-item {
    font-size: 1.3rem;
    padding-right: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold; }
