// Main Sass File

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

// Variables
$bg-color: #fff;
$font-color: #fff;
$primary: #329216;
$bg-font: 'Nunito', sans-serif;
$navbar-brand-font: 'Indie Flower', cursive;
$dark-overlay: rgba(0,0,0, 0.5);
$landing-icon-size: 15px;

body {
  margin-top: 105px;
  background-color: $bg-color;
  color: $font-color;
  font-family: $bg-font;
  //text-shadow: 0 1px 3px #449df4;
}

.navbar {
  box-shadow:  2px 2px 5px $primary;
  opacity: 0.9;
  background-color: #fff;

  .nav-item {
    font-size: 1.3rem;
    padding-right: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
  }
}
