// Main Sass File

// Fonts

// Variables
$bg-color: #333;
$font-color: #fff;
$primary-color: #008ed6;
$bg-font: 'Encode Sans Semi Condensed', sans-serif;
$navbar-brand-font: 'Indie Flower', cursive;
$dark-overlay: rgba(0,0,0, 0.5);
$landing-icon-size: 15px;

body {
  background-color: $bg-color;
  color: $font-color;
  font-family: $bg-font;
  text-shadow: 0 1px 3px #000;
}

